.app-header {
  height: 64px;
  background-color: $white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 16px 24px;
  position: relative;
  z-index: 10;
  
  &__nav {
    display: flex;
    justify-content: space-between;
    width: 292px;
  }
}
