$inputFontSize: 14px;

.text-field-wrapper {
  margin-bottom: 8px;

  .text-field {
    display: flex;
    position: relative;
    margin-bottom: 2px;
    border-bottom: 1px solid #cbcbcf;

    label {
      position: absolute;
      pointer-events: none;
      left: 0;
      top:15px;
      width: 100%;
      transition: 0.2s ease all;
      color: rgba(0,0,0, .54);
      font-size: $inputFontSize;
    }

    input {
      border: none;
      background-color: transparent;
      padding: 14px 0 3px 0;
      width: 100%;
      font-size: $inputFontSize;
      font-family: inherit;

      &:focus {
        outline:none;
      }

      &:focus ~ label, &.active ~ label {
        font-size:12px;
        top: -6px;
        height: auto;
        display: block;
      }

      &:focus ~ label {
        color: $symplablue;
      }

      &:focus ~ .text-field__underline {
        border-color: $symplablue;
        width: 100%;
      }

    }
    &__underline {
      position: absolute;
      border-bottom: 2px solid #ccc;
      bottom: -2px;
      width: 0;
      transition: 0.3s ease all;
    }

    &__required {
      padding-top: 14px;
      color: $symplared;
    }
    
  }

  &.invalid {

    .text-field {

      &__underline {
        border-color: $symplared;
        width: 100%;
      }

    }

  }

  .error-message {
    color: $symplared;
    font-size: 11px;
  }

}

.text-field-modifier {
  display: flex;
  align-items: center;

  .text-field-wrapper {
    width: 100%;
  }

  &__icon {
    margin-right: 11px;
  }
}
