.add-event-wrapper {
  .add-event {

    &__when {
      display: flex;
      justify-content: space-between;
    }

    &__image-type {
      display: flex;
      align-items: center;
      color: $symplagray;
      margin: 16px 0;

      > label {
        font-weight: bold;
        margin-right: 16px;
      }
    }

  }

  &__publish {
    margin-bottom: 0;
    margin-top: 38px;
    text-align: center;
  }
}
