.sy-modal-wrapper {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: ease-in-out .3s;

  .sy-modal {
    display: none;
  }

  .sy-modal-overlay {
    opacity: 0;
    transition: all .3s;
  }

  &.opened {
    opacity: 1;
    padding-top: 135px;
    pointer-events: all;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    .sy-modal {
      display: block;
      background-color: $white;
      border-radius: 5px;
      padding: 47px;
      position: relative;
      max-width: 660px;
      margin: 0 auto;
      z-index: 2000;

      &__title {
        color: $lighten-3;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .sy-modal-overlay {
      opacity: 1;
      background-color: #272832;
      opacity: .8;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1500;
    }
  }
}
