.add-form {
  > .two-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      width: calc(50% - 15px);
    }
  }

  .price-field {
    width: 480px;
    margin-right: 8px;
  }

  .actions {
    padding-top: 27px;
    max-width: 280px;
    margin: 0 auto;
  }
}