.card {
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0 2px 10px 0 rgba(39, 40, 50, 0.05);
  padding: 36px;
  margin-bottom: 20px;

  &__title {
    color: $symplablue;
    font-size: 32px;
    font-weight: 300;
  }
  &__content {
    padding-top: 24px;
  }
}
