html, body {
  margin:0;
  padding:0;
  background-color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  color: $symplagray;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.list-empty {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

table {
  width: 100%;
  
  thead {
    background-color:  #fbfbfb;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #eaeaec;
    border-radius: 2px;

    th {
      padding: 13px 46px;
      text-align: left;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  
  tbody {
    tr {
      border-bottom: 1px solid #ccc;     
      td {
        font-size: 12px;
        padding: 13px 46px;
        color: #50525f;
      }
    }
  }
}
