.sy-button {
    background-color: $symplablue;
    border-radius: 2px;
    border: 1px solid $symplablue;
    color: $white;
    font-size: 12px;
    padding: 9px 20px;
    text-transform: uppercase;
    cursor: pointer;

    &--secondary {
        background-color: $white;
        color: $symplablue;
    }

    &--orange {
        background-color: $symplaorange;
        border-color: $symplaorange;
        color: $white;
    }

    &--flat {
        background-color: transparent;
        border: none;
        color: $symplablue;
    }

    &--small {
        font-size: 10px;
    }

    &__icon {
        margin-right: 6px;
    }
}
