$checkbox-checked-color: $symplablue;
$checkbox-border-color: rgba(0, 0, 0, 0.4);
$checkbox-size: 16px;
$checkbox-checked-size: 10px; 
$checkbox-ripple-size: 15px;

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
  }
  50% { 
    box-shadow: 0px 0px 0px $checkbox-ripple-size rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px $checkbox-ripple-size rgba(0, 0, 0, 0);
  }
}

.checkbox {
  margin: 16px 0;
  position: relative;
  margin: 0 ($checkbox-size + 6px) 0 0;
  
  &.checkbox-inline {
      display: inline-block;
  }

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 20px;
    margin: 0;
    cursor: pointer;
    z-index: 50;

    &:checked + label:before {
        border-color: $checkbox-checked-color;
        animation: ripple 0.2s linear forwards;   
    }
    &:checked + label:after {
        transform: scale(1);
    }
  }
  
  label {
    display: inline-block;
    height:$checkbox-size;
    position: relative;
    padding: 0 0 0 ($checkbox-size + 6px);
    vertical-align: bottom;
    font-size: 12px;
    color: $symplagray;
    &:before, &:after {
      position: absolute;            
      content: '';  
      border-radius: 25%;
      transition: all .3s ease;
      transition-property: transform, border-color;
    }
    &:before {
      left: 0;
      top: 0;
      width: $checkbox-size;
      height: $checkbox-size;
      border: 2px solid $checkbox-border-color;
    }
    &:after {
      top: $checkbox-size / 2 - $checkbox-checked-size / 2;
      left: $checkbox-size / 2 - $checkbox-checked-size / 2;
      width:$checkbox-checked-size;
      height:$checkbox-checked-size;
      transform: scale(0);
      background:$checkbox-checked-color;
    }
  }
}
